// _buttons.sass

.button-primary
  +background-image(linear-gradient(#04496f, #063c5a))
  +border-radius(30px)
  display: block
  line-height: 37px
  color: $background-color
  padding: 0 20px
  font-size: 18px
  text-align: center
  border: 1px solid rgba(246, 246, 246, 0.2)
  &:hover
    cursor: pointer
