// _carousel.sass

// Temp
.modal-whitewash,
.modal-content
  display: none !important

$carousel-height: 509px
$item-width: 1120px
$carousel-count: 4
$carousel-offset: -70px

// Hide the previous and next

.carouselNav
  position: absolute
  left: 50%
  top: 270px
  margin-left: 340px
  z-index: 4
  li
    +float(left)
    +border-radius(10px)
    text-indent: -999em
    display: block
    width: 13px
    height: 13px
    border: 2px solid $carousel-dot-border-color
    margin-right: $grid-gutter / 2
    background: $carousel-dot-inside-off
    &:hover
      cursor: pointer
      background: $carousel-dot-inside-on
    &.active
      background: $carousel-dot-inside-on

.carousel-edge-lhs, .carousel-edge-rhs
  position: absolute
  top: 0
  width: 19px
  height: 509px
  z-index: 800
.carousel-edge-lhs
  left: -70px
  background: transparent url('images/carousel_edge_left.png') no-repeat left top
.carousel-edge-rhs
  right: -90px
  background: transparent url('images/carousel_edge_right.png') no-repeat left top
.carousel
  margin-left: -70px
  .line-up li
    // +float(left)
    width: $item-width
    height: $carousel-height
    position: relative
    h2
      position: absolute
      // color: $text-color-light
      +adjust-font-size-to($font-size-large)
      span
        +adjust-font-size-to($font-size-normal, 2, $font-size-large)
    // Move this to _buttons.sass if more styles arise.
    // This is quite inconsistent so variables not used.
        
    a
      background-color: #04496f
      $experimental-support-for-svg: true
      +background-image(linear-gradient(#04496f, #063c5a))
      +border-radius(30px)
      display: block
      position: absolute
      width: 250px
      height: 40px
      line-height: 37px
      color: $background-color
      font-size: 18px
      text-align: center
      border: 1px solid #fff
      border: 1px solid rgba(246, 246, 246, 0.2)

  // Styles
  .line-up li
    &.one
      background: transparent url('images/carousel_01.jpg') no-repeat center top
      background-size: 96% 96%
      h2
        +adjust-font-size-to($font-size-medium, 1.25)
        color: $text-color-white
        left: 260px
        top: 145px
        width: 300px
      a
        left: 260px
        top: 220px
        width: 240px
    &.two
      background: transparent url('images/carousel_02.jpg') no-repeat center top
      background-size: 96% 96%
      h2
        +adjust-font-size-to($font-size-medium, 1.25)
        color: $text-color-white
        right: 260px
        top: 140px
        width: 300px
      a
        right: 390px
        top: 240px
        width: 170px
    &.three
      background: transparent url('images/carousel_03.jpg') no-repeat center top
      background-size: 96% 96%
      h2
        +adjust-font-size-to($font-size-medium, 1.25)
        color: $text-color-white
        right: 210px
        top: 75px
        width: 300px
      a
        right: 340px
        top: 160px
        width: 170px
    &.four
      background: transparent url('images/carousel_04.jpg') no-repeat center top
      background-size: 96% 96%
      h2
        +adjust-font-size-to($font-size-medium, 1.25)
        left: 160px
        top: 60px
        width: 445px
      a
        left: 270px
        top: 120px
