// _carousel.sass

.mask
  background: blue
  $carousel-width: 1120px
  width: $carousel-width
  height: 486px
  position: fixed
  top: 140px
  left: 50%
  margin-left: - $carousel-width / 2
  background: transparent url('images/carousel-mask.png') no-repeat left top
  z-index: 3

.carousel
  background: red
  .dots
    background: green
