// _footer.sass

.footer
  +padding-leader(2)
  background: $background-color
  .footer-navigation
    +float(left)
    +pie-clearfix
    +trailer(2)
    margin-left: $grid-gutter
  ul
    +columns(2)
    .title
      font-size: 14px
      margin-bottom: 5px

.footer-inner-wrapper
  +container

.copyright
  +float(right)
  background: transparent url('images/logo-small.jpg') no-repeat right top
  width: 260px
  margin-top: -2px
  padding-right: 82px
  height: 57px

.testimonial
  +pie-clearfix
  margin: 0 auto
  +leader(2)
  +trailer(2)
  position: relative
  width: 550px
  padding-left: 35px
  background: transparent url('images/quotes_open.jpg') no-repeat left top
  clear: left
  img.close-quote
    display: inline
    vertical-align: top
    margin-left: 20px
  span
    display: block
  .content
    padding-top: $base-line-height
    margin-bottom: $base-line-height * 3 !important
    position: relative
    width: 470px
    font-style: italic
    z-index: 10
  .name
    position: absolute
    bottom: 0
    right: 0
    height: 50px
    img
      +float(left)
    p
      +float(left)
      margin-top: 10px
      margin-left: $grid-gutter * 2
