// _trainer.sass

.trainer
  .section  
    +pie-clearfix
    +trailer(6)
    background: $background-color
  .spark
    +trailer
    width: 100%
    height: auto
  .blurb
    +pie-clearfix
    margin: $grid-gutter * 2
    +trailer(2)
    h2
      +adjust-font-size-to($font-size-large)
      +trailer(0.5, $font-size-large)
    p
      color: $text-color-light
    .sub-lhs
      +float(left)
      width: 595px
      margin-right: $grid-gutter * 2
    .sub-rhs
      +float(left)
      width: 305px
  // Subnavigation
  .subnavigation
    +float(left)
    clear: both
    width: 100%
    ul
      +pie-clearfix
      margin: 0 $grid-gutter * 2
      width: 920px
    li  
      +float(left)
      +border-top-radius(5px)
      +adjust-font-size-to($font-size-medium)
      width: 304px
      border: 1px solid $border-color-light
      background: $background-color-nav-tab
      color: $theme-color
      border-bottom: none
      span
        display: block
        line-height: 44px
        padding: 0 $grid-gutter * 2
        border-bottom: 1px solid $border-color-light
      &.active
        background: $background-color
        color: $text-color
        span
          border-bottom: none
      &:hover
        cursor: pointer
        background: $background-color

  // Subcontent articles
  .subcontent-container
    margin: $grid-gutter * 2
  .subcontent
    +float(left)
    clear: both
    // -4px due to inaccuracies of subnav.
    width: 920px - 4px
    margin: 0 $grid-gutter * 2
    border: 1px solid $border-color-light
    +trailer(1.5)
    border-top: none
    display: none
    &.active
      display: block

  // Individual subcontent articles
  .subcontent.location
    h4
      +trailer(1)
      font-weight: bold
    .information
      +float(left)
      +trailer(1)
      color: $text-color-light
      margin-right: $grid-gutter * 2
      width: 429px
    .trainer-profile-picture
      +float(left)
      width: 200px
      margin-right: $grid-gutter * 2
    .contact-details
      +float(left)
      width: 209px
      > li
        +trailer(0.25)
        line-height: $font-size-large
      .phone
        padding-left: 26px
        background: transparent url('images/icon-phone.jpg') no-repeat left top
      .email
        padding-left: 26px
        background: transparent url('images/icon-email.jpg') no-repeat left top
      .time
        padding-left: 26px
        background: transparent url('images/icon-time.jpg') no-repeat left top
    .map
      +trailer(1)
      +float(left)
      width: 427px

