// _type.sass

$base-font-size: 13px
$base-line-height: 16px

html
  font-size: $base-font-size
body
  +establish-baseline
  +adjust-font-size-to($font-size-normal, 1)
  font-family: $font
  color: $text-color

.section .content
  +adjust-font-size-to($font-size-normal, 1.25)
  color: $text-color-light

p
  +trailer
  line-height: 18px
  a, a:hover
    text-decoration: underline

a
  text-decoration: none
  color: $link-color
  &:hover
    text-decoration: none
    color: $theme-color-alternative

h2
  font-size: $font-size-large
  +trailer(1, $font-size-large)

h3
  +trailer(0.5, $font-size-medium)
  +adjust-font-size-to($font-size-medium, 1.25)
  color: $theme-color-dark

h5
  +trailer(1, $font-size-medium)
  +adjust-font-size-to($font-size-medium, 1.25)
