// _uber.sass

.uber-wrapper
  +background-image(linear-gradient(#014869, #005983))
  position: absolute
  z-index: 10
  left: 0
  top: 135px
  width: 100%
.main-navigation li.active
  // Force the colours whith this class
  // which is added on hover.
  background: #014869
  .title
    color: $text-color-white !important
  a
    color: $text-color-white !important
  .description
    color: $text-color-white !important
.uber
  // Begin hidden...
  display: none
  // Simply start another grid.
  +container
  +padding-leader
  +padding-trailer
  color: $text-color-white
  .simple
    // Offset width of the logo.
    margin-left: 190px
  .info
    +columns(4)
  h3
    color: $background-color
    font-size: $font-size-large

// Specific styles per tab.
.uber.location
  .state-navigation
    +columns(1, 0, 0)
    +offset(0.5)
    li
      text-align: center
      line-height: 29px
    .active
      color: $theme-color-light
      background: $background-color-dark
  .current-state
    +columns(10.5, -$grid-gutter * 5, 0)
    background: $background-color-dark url('images/location-nsw.jpg') no-repeat 433px 15px
    min-height: 195px
    padding: $grid-gutter * 2
    dt
      +adjust-font-size-to(14px, 1, $font-size-normal)
      +trailing-border(1px, 0.5, 14px, dotted)
      +trailer(0.5, 14px)
      color: $theme-color-light
      border-bottom: $theme-color-light 1px dotted
    // Judging by the design these
    // might require specific styles per state.
    dl
      +float(left)
      width: 116px
      margin-left: 0
      margin-right: $grid-gutter * 2
      a
        color: $text-color-white
