// _variables.sass

$font-size-small: 12px
$font-size-normal: 13px
$font-size-medium: 18px
$font-size-large: 24px

$font: Tahoma, Arial, Helvetica, sans-serif

$theme-color: #005983
$theme-color-dark: #003a6d

$text-color: #000
$text-color-light: #666

$link-color: $theme-color

$border-color: $theme-color
$border-color-light: #b2cdda

$background-color: #fff

$carousel-dot-inside-off: #005983
$carousel-dot-inside-on: #fff
$carousel-dot-border-color: #80cbec
