// _variables.sass

$font-size-small: 12px
$font-size-normal: 13px
$font-size-medium: 18px
$font-size-large: 24px

$font: Tahoma, Arial, Helvetica, sans-serif

$theme-color: #005983
$theme-color-dark: #003a6d
$theme-color-light: #009ddc

$theme-color-alternative: #bbD840

$text-color: #000
$text-color-light: #666
$text-color-white: #fff

$link-color: $theme-color

$border-color: $theme-color
$border-color-light: #b2cdda
$border-color-very-light: #e1e1e1

$background-color: #fff
$background-color-medium: #f6f6f6
$background-color-dark: #043c57
$background-color-nav-tab: #dcf2fa

$carousel-dot-inside-off: #005983
$carousel-dot-inside-on: #fff
$carousel-dot-border-color: #80cbec
