/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 44, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-clearfix, .grid-container, .layout-main {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.grid-clearfix:after, .grid-container:after, .layout-main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 46, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-container, .layout-main {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 47, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-element, .articles .article {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 48, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-column-gutterless {
  display: inline;
  float: left;
}

/* line 6, ../sass/_global/_type.sass */
body {
  font-size: 0.8125em;
  line-height: 1.53846em;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: black;
}
/* line 58, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body body {
  font-size: 81.25%;
  line-height: 1.23077em;
}
/* line 62, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body html > body {
  font-size: 13px;
}

/* line 12, ../sass/_global/_type.sass */
a {
  text-decoration: none;
  color: #005983;
}
/* line 15, ../sass/_global/_type.sass */
a:hover {
  text-decoration: none;
  color: #1db7ff;
}

/* line 19, ../sass/_global/_type.sass */
h3 {
  margin-bottom: 0.88889em;
  font-size: 18px;
  color: #003a6d;
}

/* line 3, ../sass/_global/_base-layout-structure.sass */
.layout-main {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.layout-main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/_global/_base-layout-structure.sass */
.layout-stripe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 135px;
  background: white;
  border-bottom: 5px solid #005983;
}

/* line 17, ../sass/_global/_base-layout-structure.sass */
.outer-background {
  position: relative;
  z-index: 2;
}

/* line 21, ../sass/_global/_base-layout-structure.sass */
.header {
  padding-top: 1.23077em;
  position: relative;
  height: 119px;
  top: 0;
  left: 0;
}

/* line 28, ../sass/_global/_base-layout-structure.sass */
h1 {
  text-indent: -999em;
  width: 123px;
  height: 108px;
  background: transparent url("images/logo-top.jpg") no-repeat left top;
  position: absolute;
  top: 5px;
  left: 0;
}

/* line 37, ../sass/_global/_base-layout-structure.sass */
.social-navigation {
  display: inline;
  float: right;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.social-navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 40, ../sass/_global/_base-layout-structure.sass */
.social-navigation ul {
  width: 96px;
}
/* line 42, ../sass/_global/_base-layout-structure.sass */
.social-navigation li {
  display: inline;
  float: left;
  text-indent: -999em;
  width: 27px;
  height: 26px;
  margin-left: 5px;
}
/* line 48, ../sass/_global/_base-layout-structure.sass */
.social-navigation .twitter {
  background: transparent url("images/social-twitter.jpg") no-repeat left top;
}
/* line 50, ../sass/_global/_base-layout-structure.sass */
.social-navigation .facebook {
  background: transparent url("images/social-facebook.jpg") no-repeat left top;
}
/* line 52, ../sass/_global/_base-layout-structure.sass */
.social-navigation .vimeo {
  background: transparent url("images/social-vimeo.jpg") no-repeat left top;
}

/* line 55, ../sass/_global/_base-layout-structure.sass */
.member-navigation {
  display: inline;
  float: right;
  margin-top: 7px;
  margin-right: 10px;
}

/* line 60, ../sass/_global/_base-layout-structure.sass */
.main-navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 780px;
  height: 60px;
}
/* line 66, ../sass/_global/_base-layout-structure.sass */
.main-navigation li {
  display: inline;
  float: left;
  width: 150px;
  height: 60px;
  border-right: 1px solid #b2cdda;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 73, ../sass/_global/_base-layout-structure.sass */
.main-navigation span {
  display: block;
}
/* line 75, ../sass/_global/_base-layout-structure.sass */
.main-navigation .link {
  margin-bottom: 0.61538em;
}
/* line 77, ../sass/_global/_base-layout-structure.sass */
.main-navigation .description {
  font-size: 12px;
  color: black;
}

/* line 81, ../sass/_global/_base-layout-structure.sass */
.section {
  background: white url("images/background-footer-fade.png") repeat-x left bottom;
  position: relative;
  min-height: 880px;
  margin-top: 5px;
}

/* line 8, ../sass/_global/_carousel.sass */
.mask {
  background: blue;
  width: 1120px;
  height: 486px;
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -550px;
  background: transparent url("images/carousel-mask.png") no-repeat left top;
  z-index: 3;
}

/* line 22, ../sass/_global/_carousel.sass */
.carouselPrev,
.carouselNext {
  display: none;
}

/* line 26, ../sass/_global/_carousel.sass */
.carouselNav {
  position: absolute;
  left: 50%;
  top: 400px;
  margin-left: 340px;
  z-index: 4;
}

/* line 32, ../sass/_global/_carousel.sass */
.carouselDot {
  display: inline;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-indent: -999em;
  display: block;
  width: 13px;
  height: 13px;
  border: 2px solid #80cbec;
  margin-right: 5px;
  background: #005983;
}
/* line 42, ../sass/_global/_carousel.sass */
.carouselDot:hover {
  cursor: pointer;
  background: white;
}
/* line 45, ../sass/_global/_carousel.sass */
.carouselDot.active {
  background: white;
}

/* line 48, ../sass/_global/_carousel.sass */
.carousel {
  position: relative;
  height: 486px;
  width: 1120px;
  overflow: hidden;
  margin-left: -70px;
}
/* line 54, ../sass/_global/_carousel.sass */
.carousel .line-up {
  position: absolute;
  top: 0;
  left: 0;
  height: 486px;
  width: 3360px;
}
/* line 60, ../sass/_global/_carousel.sass */
.carousel .hideMe {
  display: none;
}
/* line 62, ../sass/_global/_carousel.sass */
.carousel .line-up li {
  float: left;
  width: 1120px;
  height: 486px;
}
/* line 71, ../sass/_global/_carousel.sass */
.carousel .one {
  background: transparent url("images/carousel_01.jpg") no-repeat left top;
}
/* line 73, ../sass/_global/_carousel.sass */
.carousel .two {
  background: transparent url("images/carousel_02.jpg") no-repeat left top;
}
/* line 75, ../sass/_global/_carousel.sass */
.carousel .three {
  background: transparent url("images/carousel_03.jpg") no-repeat left top;
}

/* line 3, ../sass/_global/_homepage.sass */
.articles {
  *zoom: 1;
  position: absolute;
  left: 0;
  top: 370px;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.articles:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../sass/_global/_homepage.sass */
.articles .article {
  width: 220px;
  margin-left: 7px;
  margin-right: 7px;
  background: white;
  min-height: 360px;
  border: 3px solid white;
}
/* line 15, ../sass/_global/_homepage.sass */
.articles .article .image {
  margin-bottom: 1.23077em;
  width: 219px;
  height: 147px;
}
/* line 19, ../sass/_global/_homepage.sass */
.articles .article h3 {
  margin-left: 10px;
}
/* line 21, ../sass/_global/_homepage.sass */
.articles .article p {
  margin-left: 10px;
  color: #666666;
}

/* line 26, ../sass/_global/_homepage.sass */
.articles .one .image {
  background: transparent url("images/article_01.jpg") repeat-x left top;
}
/* line 28, ../sass/_global/_homepage.sass */
.articles .two .image {
  background: transparent url("images/article_02.jpg") repeat-x left top;
}
/* line 30, ../sass/_global/_homepage.sass */
.articles .three .image {
  background: transparent url("images/article_03.jpg") repeat-x left top;
}
/* line 32, ../sass/_global/_homepage.sass */
.articles .four .image {
  background: transparent url("images/article_04.jpg") repeat-x left top;
}
