/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 44, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-clearfix, .grid-container, .layout-main, .uber {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.grid-clearfix:after, .grid-container:after, .layout-main:after, .uber:after {
  content: "";
  display: table;
  clear: both;
}

/* line 46, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-container, .layout-main, .uber {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 47, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-element, .uber .info, .uber.location .current-state dl, .footer ul, .articles .article {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 48, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-lucid-grid-0.5.1/stylesheets/lucid/_public.scss */
.grid-column-gutterless, .uber.location .state-navigation, .uber.location .current-state {
  display: inline;
  float: left;
}

/* line 6, ../sass/_global/_type.sass */
html {
  font-size: 13px;
}

/* line 8, ../sass/_global/_type.sass */
body {
  font-size: 1em;
  line-height: 1.23077em;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: black;
}
/* line 61, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body * html {
  font-size: 81.25%;
}
/* line 64, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body html {
  font-size: 13px;
  line-height: 1.23077em;
}

/* line 14, ../sass/_global/_type.sass */
p {
  margin-bottom: 1.23077em;
}

/* line 17, ../sass/_global/_type.sass */
a {
  text-decoration: none;
  color: #005983;
}
/* line 20, ../sass/_global/_type.sass */
a:hover {
  text-decoration: none;
  color: #1db7ff;
}

/* line 24, ../sass/_global/_type.sass */
h3 {
  margin-bottom: 0.88889em;
  font-size: 1.38462em;
  line-height: 1.11111em;
  color: #003a6d;
}

/* line 3, ../sass/_global/_base-layout-structure.sass */
.layout-main {
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.layout-main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/_global/_base-layout-structure.sass */
.layout-stripe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 135px;
  background: white;
  border-bottom: 5px solid #005983;
}

/* line 17, ../sass/_global/_base-layout-structure.sass */
.outer-background {
  position: relative;
  z-index: 2;
}

/* line 21, ../sass/_global/_base-layout-structure.sass */
.header {
  padding-top: 1.23077em;
  position: relative;
  height: 119px;
  top: 0;
  left: 0;
}

/* line 28, ../sass/_global/_base-layout-structure.sass */
h1 {
  text-indent: -999em;
  width: 123px;
  height: 108px;
  background: transparent url("images/logo-top.jpg") no-repeat left top;
  position: absolute;
  top: 5px;
  left: 0;
}

/* line 37, ../sass/_global/_base-layout-structure.sass */
.social-navigation {
  display: inline;
  float: right;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.social-navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 40, ../sass/_global/_base-layout-structure.sass */
.social-navigation ul {
  width: 96px;
}
/* line 42, ../sass/_global/_base-layout-structure.sass */
.social-navigation li {
  display: inline;
  float: left;
  text-indent: -999em;
  width: 27px;
  height: 26px;
  margin-left: 5px;
}
/* line 48, ../sass/_global/_base-layout-structure.sass */
.social-navigation .twitter {
  background: transparent url("images/social-twitter.jpg") no-repeat left top;
}
/* line 50, ../sass/_global/_base-layout-structure.sass */
.social-navigation .facebook {
  background: transparent url("images/social-facebook.jpg") no-repeat left top;
}
/* line 52, ../sass/_global/_base-layout-structure.sass */
.social-navigation .vimeo {
  background: transparent url("images/social-vimeo.jpg") no-repeat left top;
}

/* line 55, ../sass/_global/_base-layout-structure.sass */
.member-navigation {
  display: inline;
  float: right;
  margin-right: 10px;
}

/* line 59, ../sass/_global/_base-layout-structure.sass */
.main-navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 780px;
  height: 70px;
}
/* line 65, ../sass/_global/_base-layout-structure.sass */
.main-navigation li {
  display: inline;
  float: left;
  width: 150px;
  height: 70px;
  border-right: 1px solid #b2cdda;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 72, ../sass/_global/_base-layout-structure.sass */
.main-navigation span {
  display: block;
}
/* line 74, ../sass/_global/_base-layout-structure.sass */
.main-navigation .link {
  margin-bottom: 0.61538em;
}
/* line 76, ../sass/_global/_base-layout-structure.sass */
.main-navigation .description {
  font-size: 12px;
  color: black;
}

/* line 80, ../sass/_global/_base-layout-structure.sass */
.section {
  background: white url("images/background-footer-fade.png") repeat-x left bottom;
  position: relative;
  min-height: 880px;
  margin-top: 5px;
}

/* line 3, ../sass/_global/_uber.sass */
.uber-wrapper {
  display: none;
}

/* line 6, ../sass/_global/_uber.sass */
.uber-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #014869), color-stop(100%, #005983));
  background-image: -webkit-linear-gradient(#014869, #005983);
  background-image: -moz-linear-gradient(#014869, #005983);
  background-image: -o-linear-gradient(#014869, #005983);
  background-image: linear-gradient(#014869, #005983);
  position: absolute;
  z-index: 10;
  left: 0;
  top: 135px;
  width: 100%;
}

/* line 13, ../sass/_global/_uber.sass */
.uber {
  margin-top: 1.23077em;
  margin-bottom: 1.23077em;
  color: white;
}
/* line 19, ../sass/_global/_uber.sass */
.uber .info {
  width: 220px;
}
/* line 21, ../sass/_global/_uber.sass */
.uber h3 {
  color: white;
  font-size: 24px;
}

/* line 25, ../sass/_global/_uber.sass */
.uber.location .state-navigation {
  width: 60px;
  margin-left: 40px;
}
/* line 28, ../sass/_global/_uber.sass */
.uber.location .state-navigation li {
  text-align: center;
  line-height: 29px;
}
/* line 31, ../sass/_global/_uber.sass */
.uber.location .state-navigation .active {
  color: #009ddc;
  background: #043c57;
}
/* line 34, ../sass/_global/_uber.sass */
.uber.location .current-state {
  width: 580px;
  background: #043c57 url("images/location-nsw.jpg") no-repeat 433px 15px;
  min-height: 195px;
  padding: 20px;
}
/* line 39, ../sass/_global/_uber.sass */
.uber.location .current-state dt {
  font-size: 1.07692em;
  line-height: 1.14286em;
  border-bottom-style: dotted;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.5em;
  margin-bottom: 0.57143em;
  color: #009ddc;
  border-bottom: #009ddc 1px dotted;
}
/* line 45, ../sass/_global/_uber.sass */
.uber.location .current-state dl {
  width: 100px;
  margin-left: 0;
  margin-right: 20px;
}
/* line 49, ../sass/_global/_uber.sass */
.uber.location .current-state dl a {
  color: white;
}

/* line 8, ../sass/_global/_carousel.sass */
.mask {
  background: blue;
  width: 1120px;
  height: 486px;
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -550px;
  background: transparent url("images/carousel-mask.png") no-repeat left top;
  z-index: 3;
}

/* line 22, ../sass/_global/_carousel.sass */
.carouselPrev,
.carouselNext {
  display: none;
}

/* line 26, ../sass/_global/_carousel.sass */
.carouselNav {
  position: absolute;
  left: 50%;
  top: 400px;
  margin-left: 340px;
  z-index: 4;
}

/* line 32, ../sass/_global/_carousel.sass */
.carouselDot {
  display: inline;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-indent: -999em;
  display: block;
  width: 13px;
  height: 13px;
  border: 2px solid #80cbec;
  margin-right: 5px;
  background: #005983;
}
/* line 42, ../sass/_global/_carousel.sass */
.carouselDot:hover {
  cursor: pointer;
  background: white;
}
/* line 45, ../sass/_global/_carousel.sass */
.carouselDot.active {
  background: white;
}

/* line 48, ../sass/_global/_carousel.sass */
.carousel {
  position: relative;
  height: 486px;
  width: 1120px;
  overflow: hidden;
  margin-left: -70px;
}
/* line 54, ../sass/_global/_carousel.sass */
.carousel .line-up {
  position: absolute;
  top: 0;
  left: 0;
  height: 486px;
  width: 3360px;
}
/* line 60, ../sass/_global/_carousel.sass */
.carousel .hideMe {
  display: none;
}
/* line 62, ../sass/_global/_carousel.sass */
.carousel .line-up li {
  float: left;
  width: 1120px;
  height: 486px;
  position: relative;
}
/* line 68, ../sass/_global/_carousel.sass */
.carousel .line-up li h2 {
  position: absolute;
  left: 160px;
  top: 40px;
  width: 650px;
  font-size: 1.84615em;
  line-height: 1.33333em;
}
/* line 77, ../sass/_global/_carousel.sass */
.carousel .line-up li a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04496f), color-stop(100%, #063c5a));
  background-image: -webkit-linear-gradient(#04496f, #063c5a);
  background-image: -moz-linear-gradient(#04496f, #063c5a);
  background-image: -o-linear-gradient(#04496f, #063c5a);
  background-image: linear-gradient(#04496f, #063c5a);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  display: block;
  position: absolute;
  left: 330px;
  top: 150px;
  width: 250px;
  height: 40px;
  line-height: 37px;
  color: white;
  font-size: 18px;
  text-align: center;
  border: 1px solid rgba(246, 246, 246, 0.2);
}
/* line 93, ../sass/_global/_carousel.sass */
.carousel .one {
  background: transparent url("images/carousel_01.jpg") no-repeat left top;
}
/* line 95, ../sass/_global/_carousel.sass */
.carousel .two {
  background: transparent url("images/carousel_02.jpg") no-repeat left top;
}
/* line 97, ../sass/_global/_carousel.sass */
.carousel .three {
  background: transparent url("images/carousel_03.jpg") no-repeat left top;
}

/* line 3, ../sass/_global/_footer.sass */
.footer {
  margin-top: 2.46154em;
}
/* line 5, ../sass/_global/_footer.sass */
.footer .footer-navigation {
  display: inline;
  float: left;
  *zoom: 1;
  margin-bottom: 2.46154em;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.footer .footer-navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../sass/_global/_footer.sass */
.footer ul {
  width: 100px;
}

/* line 12, ../sass/_global/_footer.sass */
.copyright {
  display: inline;
  float: right;
  background: transparent url("images/logo-small.jpg") no-repeat right top;
  width: 260px;
  padding-top: 10px;
  padding-right: 82px;
  height: 57px;
}

/* line 20, ../sass/_global/_footer.sass */
.testimonial {
  *zoom: 1;
  margin: 0 auto;
  margin-top: 2.46154em;
  margin-bottom: 2.46154em;
  width: 550px;
  padding-left: 60px;
  background: transparent url("images/quotes.jpg") no-repeat left top;
  clear: left;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.testimonial:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, ../sass/_global/_footer.sass */
.testimonial span {
  display: block;
}
/* line 31, ../sass/_global/_footer.sass */
.testimonial .content {
  margin-bottom: 1.23077em;
  font-style: italic;
  text-align: center;
}
/* line 35, ../sass/_global/_footer.sass */
.testimonial .name {
  display: inline;
  float: right;
  background: transparent url("images/avatar.jpg") no-repeat left top;
  padding-left: 60px;
  height: 50px;
}

/* line 3, ../sass/_global/_homepage.sass */
.articles {
  *zoom: 1;
  position: absolute;
  left: 0;
  top: 320px;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p392@etw/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.articles:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../sass/_global/_homepage.sass */
.articles .article {
  width: 220px;
  margin-left: 7px;
  margin-right: 7px;
  background: white;
  min-height: 360px;
  border: 3px solid white;
}
/* line 15, ../sass/_global/_homepage.sass */
.articles .article .image {
  margin-bottom: 1.23077em;
  width: 219px;
  height: 147px;
}
/* line 19, ../sass/_global/_homepage.sass */
.articles .article h3 {
  margin-left: 10px;
}
/* line 21, ../sass/_global/_homepage.sass */
.articles .article p {
  margin-left: 10px;
  color: #666666;
}

/* line 26, ../sass/_global/_homepage.sass */
.articles .one .image {
  background: transparent url("images/article_01.jpg") repeat-x left top;
}
/* line 28, ../sass/_global/_homepage.sass */
.articles .two .image {
  background: transparent url("images/article_02.jpg") repeat-x left top;
}
/* line 30, ../sass/_global/_homepage.sass */
.articles .three .image {
  background: transparent url("images/article_03.jpg") repeat-x left top;
}
/* line 32, ../sass/_global/_homepage.sass */
.articles .four .image {
  background: transparent url("images/article_04.jpg") repeat-x left top;
}
